.formSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
    padding: 20px 20px 40px;
}
.formSection h1{
    color: #e3f2fd;
    font-size: 30px;
}
.formBox label,
.formBox span
{
    font-weight: 500;
    color: #e3f2fd;
}
.formBox label span
{
    font-weight: 500;
    color: #dd4c42;
}
.regSuccess{
    color: white;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.formsControls input{
    background-color: #e3f2fd;
    font-size: 16px;
    line-height: 28px;
    border-radius: 5px;
    width: 350px;
    padding:5px 10px;
    margin: 5px 0;
    border: none;
}
.formsControls input:focus{
    outline: none;
}

.formsControls.error input
{
    border: 2px #dd4c42 solid;
}

.formsControls.error .errorText{
    color: #dd4c42;
}
.formSummaryError{
    padding: 5px;
    color: #dd4c42;
    border: 1px #dd4c42 dashed;
    margin: 8px 0;
    display: inline-block;
}
.rememberMe{
    display: flex;
    cursor: pointer;
    padding: 5px 0 0 0;
}
.loginBtn{
    margin-top: 10px;
    display: block;
    width: 100%;
    background-color: #e3f2fd;
    font-size: 18px;
    line-height: 28px;
    border-radius: 5px;
    padding:5px 10px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    color: #1976d2;
    text-transform: uppercase;
}
.loginBtn:hover{
    background-color: rgba(227, 242, 253, 0.9);
}
.loginBtn:active{
    background-color: #fff;
}
